.courses-page {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }
  
  .course-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .course-card {
    width: 250px;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    transition: transform 0.2s ease;
    cursor: pointer;
    position: relative;
    text-align: center;
  }
  
  .course-card:hover {
    transform: scale(1.05);
  }
  
  .course-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .course-cards .course-title {
    color: #fff;
    background-color: rgb(97, 96, 97);
    padding: 5px;
    border-radius: 4px;
  }
  
  .course-description {
    margin-top: 10px;
    color: #333;
  }
  
  .back-to-main-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
  }
  
  .back-to-main-button:hover {
    background-color: #0056b3;
  }
  
  .course-detail {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .course-detail h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #0056b3;
    text-align: center;
  }
  
  .course-content {
    margin-top: 20px;
  }
  
  .text-with-tooltip {
    cursor: pointer;
    position: relative;
    display: inline-block;
  }
  
  .text-with-tooltip:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  
  .tooltip {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }